*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 550px) {
  .header {
    display: block;
    padding: 0.5rem;
  }

  .header__logo {
    margin: auto;
    display: block;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav__link,
.nav__link:visited {
  text-decoration: none;
  color: black;
  display: block;
  padding-inline: 1.5em;
  padding-block: 0.5em;
  margin: 0.5rem;
  border-radius: 0.25rem;
}
@media (max-width: 550px) {
  .nav__link {
    padding-inline: 0.5em;
  }
}

.nav__link:hover,
[aria-current="page"] {
  background-color: #ddd;
}
.trennlinie {
  margin-block: 2rem;
  height: 3rem;
  background-color: rgba(247, 247, 247, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.hero {
  text-align: center;
  margin-inline: max(1rem, 50% - 30rem/2);
  margin-block-end: 1rem;
}
.hero__heading {
  font-weight: normal;
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  margin-block-end: 0.5rem;
}
.button {
  cursor: pointer;
  padding-inline: 1.5em;
  padding-block: 0.5em;
  margin: 1rem 0.5rem;

  border: 1px solid black;
  border-radius: 0.25rem;
  background: black;
  color: white;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  transition: 200ms all ease-in;
}

.button:hover {
  background-color: white;
  color: black;
}

.button--secondary {
  background-color: rgb(221, 221, 221);
  color: black;
}
.button:focus-visible,
a:focus-visible {
  outline: 3px solid transparent;
  box-shadow: red 0px 0px 0px 4px;
}
.container {
  margin-inline: max(1rem, 50% - 60rem/2);
  padding-block: 2rem;
}
.imagecontainer {
  /* Anordnung der Karten nebeneinander */
}
.photo {
  background-color: rgb(255, 250, 250);
  border-radius: 0.5rem;
  border: 1px solid rgb(237, 229, 229);
  margin: 0;
}

.photo__img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
}

.photo__caption {
  padding: 1rem;
}
